<ion-header>
  <ion-toolbar>
    <ion-title>Save Item</ion-title>
    <ion-buttons slot="primary" *ngIf="itemId">
      <ion-button color="danger" (click)="deleteItem()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="itemForm">
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="number" formControlName="quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="secondary" (click)="addPicture()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <img [src]="itemForm.controls.image.value" alt="">
  </ion-item>
  <ion-button expand="full" [disabled]="!itemForm.valid" (click)="save()">Guardar</ion-button>
</ion-content>
